<% layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">캠핑장 수정</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">이름</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%=campground.title %>"
          required
        />
        <div class="invalid-feedback">필수 입력 항목입니다.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">위치</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%=campground.location %>"
          required
        />
        <div class="invalid-feedback">필수 입력 항목입니다.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">이미지 URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          value="<%=campground.image %>"
          required
        />
        <div class="invalid-feedback">필수 입력 항목입니다.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">캠핑장 가격(1박)</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">&#8361;</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            value="<%=campground.price %>"
            required
          />
          <div class="invalid-feedback">필수 입력 항목입니다.</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">설명</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%=campground.description %></textarea
        >
        <div class="invalid-feedback">필수 입력 항목입니다.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">저장하기</button>
      </div>
    </form>
    <a href="/campgrounds">목록으로 돌아가기</a>
  </div>
</div>
